$white-step:
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%;

$rip-shadow:
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.5) 13%,
    rgba(0, 0, 0, 0.17) 41%,
    rgba(0, 0, 0, .06) 50%,
    rgba(0, 0, 0, .01) 80%,
    rgba(0, 0, 0, 0) 100%;


#paywall {
    position: absolute;
    left: -9876543px;
    right: -9876543px;
    margin: auto;
    width: 100vw;
    min-height: 75vh;
    padding-top: 2em;
    background-color: #DDD;
}
